asgiref==3.7.2
Brotli==1.1.0
Django==5.0.1
django-cors-headers==4.3.1
django-jazzmin==2.6.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
gunicorn==19.7.1
lxml==5.1.0
mysqlclient==2.2.1
openpyxl==3.1.2
pytz==2024.1
sqlparse==0.4.4
tzdata==2023.4
whitenoise==6.6.0
