#search-box-container {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#search-box {
    width: 20vw;
}

#pagination-container {
    margin-top: 2%;
}

#inventory-table {
    height: 68vh;
    max-height: 68vh;
}

#inventory-table::-webkit-scrollbar {
    width: 10px;
    background-color: #FCFCFC;
    scroll-behavior: smooth;
}

#inventory-table::-webkit-scrollbar-thumb {
    background-color: rgb(90, 2, 2);
    border-radius: 15px;
}

#header-row {
    background-color: white;
}

.table-header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

#modal-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    z-index: 100;
    height: 40vh;
    width: 40vw;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modal-title {
    margin-bottom: 5%;
}

#item-title {
    margin-bottom: 2%;
}

#modal-input-field {
    width: 30vw;
}

#modal-buttons-container {
    width: 100%;
    margin-top: 7.5%;
    display: flex;
    justify-content: flex-end;
}

#modal-buttons-container button {
    margin-left: 2%;
    margin-right: 2%;
}